<?xml version="1.0"?>

<launch>

<!-- computes transform and saves it -->
<arg name="autostart" default="true" />

<arg name="ns" default="flir_ros_interface" />

<param name="/fr3_experiment/experiment_folder" value="/home/docker/catkin_ws/experiments"    />

<group ns="$(arg ns)">


    <node pkg="flir_icp_calib"
        name="transform_publisher"
        type="interface_aruco"
        output="screen"
        args="$(find flir_icp_calib)/cfg/TransformsSettings.json">
    </node>

</group>

<node if="$(arg autostart)" pkg="rosservice" type="rosservice" name="tf_starter" args="call --wait /$(arg ns)/transform_publisher/start " />

</launch>